.containerPlace {
  width: 100%;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.placeTitle {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-style: normal;
  color: rgba(51, 50, 50);
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}
.containerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px black;
  box-shadow: 10px 0px 10px black;
  border-bottom: 1px solid #c66e4e;
  border-top: 1px solid #c66e4e;
  height: 100%;
  padding-top: 10px;
}

.name {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #d5d5d5;
}
.underName {
  color: #c66e4e;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
.containerShater {
  width: 100%;
  max-width: 750px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
}
.containerShater img {
  width: 100%; /* растягиваем картинку по ширине контейнера */
  height: 100%; /* растягиваем по высоте */
  object-fit: cover; /* сохраняем пропорции, обрезая лишнее */
  object-position: center; /* центрируем картинку */
  display: block; /* убираем маленький нижний отступ */
}
.containerShaterAndText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerBtn {
  display: flex;
  justify-content: center;
}
.mapBtn {
  padding: 12px 50px;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #c66e4e;
  color: #c66e4e;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.mapBtn:hover {
  background-color: #c66e4e;
  color: #000;
  transform: translateY(-2px);
}
.containerNot {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}
.containerNot p {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #d5d5d5;
  font-size: 20px;
}
.botText {
  border: 1px solid #c66e4e;
  color: #c66e4e;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 20px;
  border-radius: 12px;
  cursor: pointer;

  margin-right: 10px;
}
.botText:hover {
  background-color: #c66e4e;
  color: #000;
  transform: translateY(-2px);
}
.containerImg {
  width: 79%;
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 15px;

  margin-bottom: 10px;
}

.imgOne {
  width: 280px;
  height: 170px;
}
.imgOne img {
  width: 100%; /* растягиваем картинку по ширине контейнера */
  height: 100%; /* растягиваем по высоте */
  object-fit: cover; /* сохраняем пропорции, обрезая лишнее */
  object-position: center; /* центрируем картинку */
  display: block;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .containerPlace {
    gap: 15px;
    min-height: 100vh;
    padding: 0 10px; /* немного отступов по бокам */
  }
  .containerBtn {
  }
  .mapBtn {
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 6px;
  }
  .placeTitle {
    font-size: 20px; /* меньше заголовок */
    text-align: center;
    padding-top: 10px;
  }
  .name {
    font-size: 28px; /* уменьшили имя */
    text-align: center;
  }
  .underName {
    font-size: 14px; /* меньше подзаголовок */
    text-align: center;
  }
  .containerShaterAndText {
    flex-direction: column;
    padding: 10px;
    gap: 25px;
  }
  .containerShater {
    max-width: 100%;
    height: 240px;
  }
  .modalContainer {
    display: flex;
    align-items: flex-end;
  }
  .imgOne {
    width: 250px;
    height: 70px;
  }
  .containerNot {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
  }
  .containerNot p {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #d5d5d5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
  }
  .botText {
    border: 1px solid #c66e4e;
    color: #c66e4e;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 10px;
    padding: 4px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
  }
  .botText:hover {
    background-color: #c66e4e;
    color: #000;
    transform: translateY(-1px);
  }
}
