.wrapper {
  width: 140px;
  margin: 0 auto;
}

.svg {
  width: 100%;
}

/* Анимация чокания */
.right {
  transform-origin: 320px 200px;
  animation: cheers 2.8s ease-in-out infinite;
}

@keyframes cheers {
  0%,
  40% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(-12deg);
  }
  70% {
    transform: rotate(0deg);
  }
}
