.containerFoto {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* текст сверху, фотки сразу под текстом */
  padding: 20px 0;
  box-sizing: border-box;
}

/* Заголовок */
.fotoTittle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgba(51, 50, 50);
  margin-bottom: 10px;
}

/* Текст сверху */
.containerRsvp {
  width: 100%;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #d5d5d5;
  line-height: 1.8;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid #c66e4e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Блок с фотографиями */
.containerAllFoto {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px; /* чуть больше расстояние между фото */
  padding: 15px 0; /* уменьшаем паддинги */
  background-color: rgba(0, 0, 0, 0.8);

  border-bottom: 1px solid #c66e4e;

  flex-wrap: wrap;
}

/* карточка фото */
.photoBox {
  width: 200px; /* увеличили фотки */
  height: 160px;
  overflow: hidden;
  border-radius: 20px;
  flex-shrink: 0;
}

.photoBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.photoBox img:hover {
  transform: scale(1.05);
}

/* Мобилка */
@media (max-width: 1024px) {
  .containerAllFoto {
    gap: 15px;
  }

  .photoBox {
    width: 160px;
    height: 130px;
  }

  .containerRsvp {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .containerAllFoto {
    gap: 12px;
  }

  .photoBox {
    width: 140px;
    height: 120px;
  }

  .containerRsvp {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .containerAllFoto {
    gap: 8px;
  }

  .photoBox {
    width: 100px;
    height: 80px;
  }

  .containerRsvp {
    font-size: 12px;
  }

  .fotoTittle {
    font-size: 20px;
  }
}
@media (max-width: 410px) {
  .containerRsvp {
    font-size: 11px;
  }
}
