.containerApp {
  width: 100%;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dfc5b3;
  border: 1px solid red;
}
