.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: #d5d5d5;
}

.timerTitle {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #c66e4e;
  letter-spacing: 4px;
}

.timerNumbers {
  display: flex;
  gap: 15px;
  font-size: 19px;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: normal;

  color: #d5d5d588;
}

.today {
  font-size: 20px;
  font-weight: 600;
  color: #f5c06a;
}

@media (max-width: 480px) {
  .timerTitle {
    font-size: 20px;
  }
}
